@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body,
html
{
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.im_here_for_space {
    min-height: 100px;
}


/* CONTENU DE LA PAGE PRINCIPALE */
.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 10%;
    width: 80%; 
}
#search_input {
    width: 70%;
    border-radius: 0.4em;
    border: solid 1px rgb(15, 87, 108);
    background-color: #d9d9d9;
}
#search_button{
    margin-left: 1%;
    width: 10%;
    border-radius: 0.4em;
    border: solid 1px rgb(15, 87, 108);
    background-color: #d9d9d9;
}
.scan_products video {
    margin: 1% 2% 2% 10%;
    width: 80%; 
    max-height: 250px;
    border-radius: 0.4em;
}
#barcode-scanner::-webkit-media-controls {
    display: none !important;
}
@keyframes blink {
    0% { background-color: #d9d9d9; }
    50% { background-color: rgb(15, 87, 108, 0.7); }
    100% { background-color: #d9d9d9; }
}
.blink-bg {
animation: blink 1s linear;
}  
@keyframes blink-red {
    0%, 100% { background-color: #d9d9d9; }
    50% { background-color: red; }
}
.blink-bg-red {
    animation: blink-red 1s linear;
}
.result {
    display: flex;
    justify-content: space-between;
    margin: 1% 2% 2% 10%;
    width: 80%; 
    height: 20%;
    background-color: lightblue;
    border: 1px red linear;
}
#text_result {
    flex: 3; 
    margin: 0.2%;
    border-radius: 0.4em;
    border: 1px solid rgb(15, 87, 108);
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
}
#img_result {
    flex: 1; 
    margin: 0.2%;
    border-radius: 0.4em;
    border: 1px solid rgb(15, 87, 108);
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
}


/* NAV BAR */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d9d9d9;
    overflow: hidden;
    height: 55px;
}
.navbar ul li a img {
    height: 20px;
    width: auto;
}
.img_button :hover {
    background-color: #ababab;
    border-radius: 0.3em;
    border: 1px solid rgb(109, 141, 43);
    margin: -4px;
    padding: 3px;
}
.menu_isol_central {
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-left: 2%;
    margin-right: 2%;
    height: 100%; 
}
.nav_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 2% 1% 2%;
}
.current_page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 2% 1% 2%;
    background-color: #ababab;
    border-radius: 0.3em;
    border: 1px solid rgb(109, 141, 43);
    margin: -4px;
    padding: 3px;
}
